<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>TransactionsList</title>
</head>
<body>
  <nav class="navbar navbar-light bg-light">
		<a class="navbar-brand" href="#">
			<img src="../assets/images/left-arrow.png" width="30" height="30" alt="">
		</a>
		<h4 class="m-auto">Dinning</h4>
		<a class="navbar-brand" href="#">
			<img src="../assets/images/magnifying-glass.png" width="30" height="30" alt="">
		</a>
	</nav>
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
					<div class="carousel-inner">
						<div class="carousel-item active">
							<div class="row">
								<div class="col-12">
									<div class="dinning-card">
										<div class="feature-box">
											<div class="feature-box-icon">
												<img class="d-inline-block ml-auto img-fluid" src="../assets/images/tableware.png" alt="Dinning"
													width="55">
											</div>
											<div class="feature-box-info">
												<h6 class="mb-2">Dinning
													<span class="dinning-price">&#36;25.00</span>
												</h6>
												<p>
													<span class="tranc-text">
														06 Transactions
													</span>
													<span class="rate-number">
														25%<span class="ratings">
															<img class="d-inline-block ml-auto img-fluid" src="../assets/images/up-arrow.png" alt="Dinning"
																width="15">
														</span>
													</span>
												</p>
											</div>
										</div>

									</div>
								</div>
							</div>
						</div>
						<div class="carousel-item">
							<div class="row">
								<div class="col-12">
									<div class="dinning-card">
										<div class="feature-box">
											<div class="feature-box-icon">
												<img class="d-inline-block ml-auto img-fluid" src="../assets/images/tableware.png" alt="Dinning"
													width="55">
											</div>
											<div class="feature-box-info">
												<h6 class="mb-2">Dinning Two
													<span class="dinning-price">&#36;25.00</span>
												</h6>
												<p>
													<span class="tranc-text">
														06 Transactions
													</span>
													<span class="rate-number">
														25%<span class="ratings">
															<img class="d-inline-block ml-auto img-fluid" src="../assets/images/up-arrow.png" alt="Dinning"
																width="15">
														</span>
													</span>
												</p>
											</div>
										</div>

									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
	<div class="container-fluid">
		<div class="row">
			<div class="bg-down col-12">
				<h6 class="mb-2 ls">Monthly average &#36;20.00</h6>
				<div class="d-flex">
					<p class="ls text-muted d-inline-block mb-0">You spent &#36;20.00 more on dinning
					</p>
					<span class="pull-right ml-auto">
						<a href="" class="d-inline-block mr-auto mb-1">Know more</a></span>
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="list-head col-12">
				<h6 class="ml-auto mb-0 d-inline-block text-muted">Today</h6>
				<span class="ml-auto pull-right">
					&#36;&nbsp;25.00
				</span>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div class="feature-box-1 down-border">
					<div class="feature-box-icon-1">
						<img class="d-inline-block img-fluid rounded-circle mt-4" src="../assets/images/P_letter.png" alt="Dinning" width="45">
					</div>
					<div class="feature-box-info-1">
						<h6 class="mb-2 d-inline-block">Starbucks</h6>
							<span class="dinning-price">-&#36;25.00</span>
						
						<p class="mb-2">
							<span class="tranc-text-1">
								09:25AM
								<span class="">
								<img class="d-inline-block ml-auto img-fluid" src="../assets/images/pin.png" alt="Dinning" width="15">
							</span>
							</span>
							<span class="dinning-text">
								Dinning
							</span>

						</p>
					</div>
				</div>
				<div class="feature-box-1">
					<div class="feature-box-icon-1">
						<img class="d-inline-block img-fluid rounded-circle mt-4" src="../assets/images/P_letter.png" alt="Dinning" width="45">
					</div>
					<div class="feature-box-info-1">
						<h6 class="mb-2 d-inline-block">Cafe coffee day</h6>
							<span class="dinning-price">-&#36;25.00</span>
						
						<p class="mb-2">
							<span class="tranc-text-1">
								09:25AM
								<span class="">
								<img class="d-inline-block ml-auto img-fluid" src="../assets/images/pin.png" alt="Dinning" width="15">
							</span>
							</span>
							<span class="dinning-text">
								Dinning
							</span>

						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="list-head col-12">
				<h6 class="ml-auto mb-0 d-inline-block text-muted">22 July 2020</h6>
				<span class="ml-auto pull-right">
					&#36;&nbsp;25.00
				</span>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div class="feature-box-1 down-border">
					<div class="feature-box-icon-1">
						<img class="d-inline-block img-fluid rounded-circle mt-4" src="../assets/images/P_letter.png" alt="Dinning" width="45">
					</div>
					<div class="feature-box-info-1">
						<h6 class="mb-2 d-inline-block">Mc Donald's</h6>
							<span class="dinning-price">-&#36;25.00</span>
						
						<p class="mb-2">
							<span class="tranc-text-1">
								09:25AM
								<span class="">
								<img class="d-inline-block ml-auto img-fluid" src="../assets/images/pin.png" alt="Dinning" width="15">
							</span>
							</span>
							<span class="dinning-text">
								Dinning
							</span>

						</p>
					</div>
				</div>
				<div class="feature-box-1 down-border">
					<div class="feature-box-icon-1">
						<img class="d-inline-block img-fluid rounded-circle mt-4" src="../assets/images/P_letter.png"  alt="Dinning" width="45">
					</div>
					<div class="feature-box-info-1">
						<h6 class="mb-2 d-inline-block">Starbucks</h6>
							<span class="dinning-price">-&#36;25.00</span>
						
						<p class="mb-2">
							<span class="tranc-text-1">
								09:25AM
								<span class="">
								<img class="d-inline-block ml-auto img-fluid" src="../assets/images/pin.png" alt="Dinning" width="15">
							</span>
							</span>
							<span class="dinning-text">
								Dinning
							</span>

						</p>
					</div>
				</div>
				<div class="feature-box-1">
					<div class="feature-box-icon-1">
						<img class="d-inline-block img-fluid rounded-circle mt-4" src="../assets/images/P_letter.png" alt="Dinning" width="45">
					</div>
					<div class="feature-box-info-1">
						<h6 class="mb-2 d-inline-block">Starbucks</h6>
							<span class="dinning-price">-&#36;25.00</span>
						
						<p class="mb-2">
							<span class="tranc-text-1">
								09:25AM
								<span class="">
								<img class="d-inline-block ml-auto img-fluid" src="../assets/images/pin.png" alt="Dinning" width="15">
							</span>
							</span>
							<span class="dinning-text">
								Dinning
							</span>

						</p>
					</div>
				</div>
			</div>
		</div>
	</div>


</body>
</html>
